:root {
  --branding-color: rgb(232, 113, 204);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 48px;
}

p {
  padding: 0;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

nav {
  padding: 25px 0;
}

.logo {
  max-height: 60px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  display: inline;
  line-height: 60px;
  margin-left: 25px;
  font-family: var(--default-font-family);
  font-size: 16px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover,
nav a.active {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.hero {
  background: var(--secondary-color);
  padding: 60px 20px;
  text-align: center;
  border-radius: 4px;
}

nav a .hero {
  background: var(--secondary-color);
  padding: 120px 20px;
  text-align: center;
}

.hero p {
  font-size: 16px;
}

.hero h2 {
  font-size: 24px;
}

.hero h3 {
  font-size: 24px;
  opacity: 0.7;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  border: 2px solid var(--branding-color);
  transition: all 100ms ease-in-out;
}

.btn-branding a {
  text-decoration: none;
}

.btn-branding-outline {
  border: 2px solid var(--branding-color);
  color: var(--branding-color);
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.project-description {
  padding: 0 60px;
}

.content-container {
  padding: 60px 20px 5px;
}

.content {
  margin: 0 30px;
}

.content h1 {
  font-size: 64px;
  text-align: center;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: black;
}

.content p {
  font-size: 16px;
}

.project-image:hover {
  filter: grayscale(100%);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .btn-branding {
  margin-top: 18px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  font-size: 18px;
  background: var(--secondary-color);
  padding: 10px 16px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    text-align: center;
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 26px;
  }
  nav a {
    font-size: 12px;
    margin-left: 5px;
  }
  .hero {
    padding: 60px 10px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 30px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
  .project-description p {
    font-size: 12px;
  }
}
