:root {
  --branding-color: rgb(232, 113, 204);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 30px auto;
  max-width: 960px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 46px;
}

p {
  padding: 0;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

/* img {
  vertical-align: middle;
} */

.hero {
  background-color: var(--secondary-color);
  padding: 120px 20px;
  text-align: center;
}

.hero p {
  font-size: 16px;
}

.hero h2 {
  font-size: 24px;
}

.hero h3 {
  font-size: 24px;
  opacity: 0.7;
}

.content-container {
  padding: 120px 20px;
}

.content {
  margin: 0 30px;
}

.content h1 {
  font-size: 64px;
  text-align: center;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: black;
}

.content p {
  font-size: 16px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding a {
  text-decoration: none;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.project-description {
  padding: 0 60px;
}

@media (max-width: 900px) {
  h1 {
    text-align: center;
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 60px 10px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
  .primary-link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
